#App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  width:100%;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main{
  display: flex;
  width: 80%;
  order: 2;
}


#map {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

#sidebar {
width: 20%;
height: 100vh;
order: 1;
background-color: grey;
}


  /*
*/
/*
width: 300px;
height: 100%;
position: absolute;
transform: translate(-300px, 0);
transition: transform 0.3s ease;
*/




